.aboutSection, .newsSection, .contactSection {
  position: fixed;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.01);}

.ab-column, .ne-column, .co-column {
  height: 100vh;
  padding: 0;
  border: solid 1px #585858;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
}

.returnAb .wrapper, .returnNe .wrapper, .returnCo .wrapper{
  border: solid 1px #fff;
  width: 60px;
  height: 30px; 
  text-align: center;
  cursor: pointer;
  position: fixed;
  top: 0;
  right: 0;
  margin: 10px;
}
.returnAb .wrapper h4, .returnNe .wrapper h4, .returnCo .wrapper h4{
  color: #fff;
  margin: 0;
  padding: 5px;
}

.about-container, .news-container, .contact-container{
	padding: 20px 30px;
	color: #fff;
}

@media screen and (max-width: 992px){
	
}